.pagebody {
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
    .pagebody {
      background-color: #696969;
    }
}

.infosearch {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    background-color: transparent;
}